
*{
  margin: 0;
}


body{
  background-color: black;
}

#root{
  background-color: black;
  color: white;
  font-family: 'Roboto';
  text-align: center;
  font-weight: 400;
}

.App{
  margin: 0 auto;
  margin-top: 50px;
}

.header{
  display: flex;
  justify-content: space-around;
}

.title{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  font-size: 25px;
}

.title--greeting{
  font-weight: 400;
}

.title--day{
  font-weight: lighter;
}

.title--time{
  font-size: 50px;
}

.date--count{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  font-weight: lighter;
  align-items: flex-end;
}

.date--text{
  margin: 0 auto;
  margin-top: 150px;
  font-size: 25px;
  
}

.weather--card{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.weather--city{
  flex-grow: 10;
  font-size: 40px;
}

.weather--temp{
  font-size: 50px;
}

.weather--feels, .weather--desc{
  font-size: 25px;
}

.carousel{
  display: flex;
  max-width: 300px;
  height: 750px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 300px;
}

.carousel--photo{
  border-radius: 10px;
}


.affirmation{
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  text-align: left;
  margin-left: 15vw;
  font-weight: normal;
  bottom: 0 auto;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  font-size: 20px;
}

.wi{
  font-size: 100px;
}